{% extends 'hospital/base.html' %}
{% block forms %}
<div class="container">
  <div class="card bg-light">
    <div class="card-header border-bottom-0">
      Patient Info
    </div>
    <div class="card-body pt-0">
      <div class="row">
        <div class="col-7">
          <h2 class="lead"><b>Full Name: {{ patient.full_name }}</b></h2>
          <ul class="ml-4 mb-0 fa-ul text-muted">
            <li class="small">Id: {{ patient.id }}</li>
            <li class="small">Phone #: {{ patient.phone }}</li>
            <li class="small">Birth Date: {{ patient.b_date }}</li>
            <li class="small">Email: {{ patient.email }}</li>
            <li class="small">Gender: {{ patient.sex }}</li>
            <li class="small">Blood Type: {{ patient.blood_type }}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="text-right">
        <div class="inline-form">
          <form class = "form-group d-block" style= "padding: 10px; display: flex;" method = "post">
            {% csrf_token %}
            <p class = 'text-left'>Do you really want to delete this patient?</p>
            <div class="form-group input">
                  <input class = 'btn btn-danger text-light' value= 'Yes' type= 'submit'>
                <button class = "btn btn-success">
                  <a href="{% url 'search' %}" class = 'text-light'>No</a>
                  </button>
                </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock forms %}