{% extends 'hospital/base.html' %}
{% block forms %}
<div class="container">
  <div class="card bg-light">
    <div class="card-header border-bottom-0">
      Patient Info
    </div>
    <div class="card-body pt-0">
      <div class="row">
        <dl class="row">
          <dt class="col-md-2">Full Name:</dt>
          <dd class="col-md-10">{{ patient.full_name }}</dd>
          <dt class="col-md-2">Id:</dt>
          <dd class="col-md-10"> {{ patient.id }}</dd>
          <dt class="col-md-2">Phone #:</dt>
          <dd class="col-md-10">{{ patient.phone }}</dd>
          <dt class="col-md-2">Birth Date:</dt>
          <dd class="col-md-10">{{ patient.b_date }}</dd>
          <dt class="col-md-2">Email:</dt>
          <dd class="col-md-10">{{ patient.email }}</dd>
          <dt class="col-md-2">Gender:</dt>
          <dd class="col-md-10">{{ patient.sex }}</dd>
          <dt class="col-md-2">Blood Type:</dt>
          <dd class="col-md-10">{{ patient.blood_type }}</dd>
        </dl>
      </div>
    </div>
    <div class="card-footer">
      <div class="text-right">
        <div class="inline-form">
          <form class = "form-group d-block" style= "padding: 10px; display: flex;" method = "post">
            {% csrf_token %}
            <p class = 'text-left'>Do you really want to delete this patient?</p>
            <div class="form-group input">
                  <input class = 'btn btn-danger text-light' value= 'Yes' type= 'submit'>
                <button class = "btn btn-success">
                  <a href="{% url 'search' %}" class = 'text-light'>No</a>
                  </button>
                </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock forms %}