{% extends 'hospital/base.html' %}
{% block forms %}
<div class="card">
    <div class="card-header">
      <h3 class="card-title">{{ general }}</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
      <table id="example1" class="table table-bordered table-striped">
        <thead>
        <tr>
          <th>Id</th>
          <th>First Name</th>
          <th>Middle Name</th>
          <th>Last Name</th>
          <th>Birth Date</th>
          <th>Phone</th>
          <th>Email</th>
          <th>Sex</th>
          <th>Blood Type</th>
        </tr>
        </thead>
        <tbody>
        {% for patient in patients %}
          <tr>
            <td><a href={% url 'patientHistory' id=patient.id %}>{{ patient.id }}</a></td>
            <td>{{ patient.first_name }}</td>
            <td>{{ patient.middle_name }}</td>
            <td>{{ patient.last_name }}</td>
            <td>{{ patient.b_date }}</td>
            <td>{{ patient.phone }}</td>
            <td>{{ patient.email }}</td>
            <td>{{ patient.sex }}</td>
            <td>{{ patient.blood_type }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
    <!-- /.card-body -->
  </div>
{% endblock forms %}