{% extends 'hospital/base.html' %}
{% block forms %}
<div class="container">
  <div class="card bg-light">
    <div class="card-header text-muted border-bottom-0">
      Patient History
    </div>
    <div class="card-body pt-0">
      <dl class="row">
        <dt class="col-md-2">Full Name:</dt>
        <dd class="col-md-10">{{ patient.full_name }}</dd>
        <dt class="col-md-2">Id:</dt>
        <dd class="col-md-10"> {{ patient.id }}</dd>
        <dt class="col-md-2">Phone #:</dt>
        <dd class="col-md-10">{{ patient.phone }}</dd>
        <dt class="col-md-2">Birth Date:</dt>
        <dd class="col-md-10">{{ patient.b_date }}</dd>
        <dt class="col-md-2">Email:</dt>
        <dd class="col-md-10">{{ patient.email }}</dd>
        <dt class="col-md-2">Gender:</dt>
        <dd class="col-md-10">{{ patient.sex }}</dd>
        <dt class="col-md-2">Blood Type:</dt>
        <dd class="col-md-10">{{ patient.blood_type }}</dd>
        <a href="{% url 'old_history' id=patient.id %}" class = 'btn btn-primary mt-5'>See Old History</a>
      </dl>
    </div>
  </div>
  <div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title">Add Condition</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form action = {% url 'patientHistory' patient.id %} role="form" method='post'>
      {% csrf_token %}
      <div class="card-body">
        {% for field in form %}
          <div class="form-group">
            {{field.label_tag}}
            {{field}}
          </div>
        {% endfor %}
        <style>
            .form-group {
            padding: 0 15px;
            }
        </style>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Add Condition</button>
            </div>
      </div>
      <!-- /.card-body -->
    </form>
  </div>
</div>
{% endblock forms %}