{% extends 'hospital/base.html' %}
{% block forms %}
<div class="container">
  <div class="card bg-light">
    <div class="card-header text-muted border-bottom-0">
      Patient History
    </div>
    <div class="card-body pt-0">
      <div class="row">
        <div class="col-7">
          <h2 class="lead"><b>Full Name: {{ patient.first_name }} {{ patient.middle_name }} {{ patient.last_name }}</b></h2>
          <ul class="ml-4 mb-0 fa-ul text-muted">
            <li class="small">Id: {{ patient.id }}</li>
            <li class="small">Phone #: {{ patient.phone }}</li>
            <li class="small">Birth Date: {{ patient.b_date }}</li>
            <li class="small">Email: {{ patient.email }}</li>
            <li class="small">Gender: {{ patient.sex }}</li>
            <li class="small">Blood Type: {{ patient.blood_type }}</li>
          </ul>
          <a href="{% url 'old_history' id=patient.id %}" class = 'btn btn-primary mt-5'>See Old History</a>
        </div>
      </div>
    </div>
  </div>

  <div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title">Add Condition</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form role="form" method='post'>
      {% csrf_token %}
      <div class="card-body">
        {% for field in form %}
          <div class="form-group">
            {{field.label_tag}}
            {{field}}
          </div>
        {% endfor %}
        <style>
            .form-group {
            padding: 0 15px;
            }
        </style>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Add Condition</button>
            </div>
      </div>
      <!-- /.card-body -->
    </form>
  </div>
</div>
{% endblock forms %}