{% extends 'hospital/base.html' %}
{% block forms %}

<div class="container">
  <div class="card bg-light">
    <div class="card-header text-muted border-bottom-0">
      Patient Info
      <a href="{% url 'add_queue' id=patient.id %}" class="btn btn-primary">
        Add To Queue
      </a>
    </div>
    <div class="card-body pt-0">
      <div class="row">
        <dl class="row">
          <dt class="col-md-2">Full Name:</dt>
          <dd class="col-md-10">{{ patient.full_name }}</dd>
          <dt class="col-md-2">Id:</dt>
          <dd class="col-md-10"> {{ patient.id }}</dd>
          <dt class="col-md-2">Phone #:</dt>
          <dd class="col-md-10">{{ patient.phone }}</dd>
          <dt class="col-md-2">Birth Date:</dt>
          <dd class="col-md-10">{{ patient.b_date }}</dd>
          <dt class="col-md-2">Email:</dt>
          <dd class="col-md-10">{{ patient.email }}</dd>
          <dt class="col-md-2">Gender:</dt>
          <dd class="col-md-10">{{ patient.sex }}</dd>
          <dt class="col-md-2">Blood Type:</dt>
          <dd class="col-md-10">{{ patient.blood_type }}</dd>
        </dl>
      </div>
    </div>
    <div class="card-footer">
      <div class="text-right">
        <div class="inline-form">
          <form action="" class = "form-group" style= "padding: 10px; display: flex;">
            <style>
              .input {
                width: 20%;
              }
              .form-group {
                padding: 0 15px;
              }
            </style>
            <div class="form-group input">
              <input type="date" class = "form-control " placeholder="Appointment Date">
            </div>
            <div>
              <a href="#" class="btn bg-teal">
                Add Appointment
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock forms %}