{% extends 'hospital/base.html' %}
{% block forms %}
<div class="container">
  <div class="card card-primary">
    <div class="card-header text-light border-bottom-0">
      Patient History
    </div>
    <div class="card-body pt-0">

      <div class="row">
        <dl class="row">
          <dt class="col-md-2">Full Name:</dt>
          <dd class="col-md-10">{{ patient.full_name }}</dd>
          <dt class="col-md-2">Id:</dt>
          <dd class="col-md-10"> {{ patient.id }}</dd>
          <dt class="col-md-2">Phone #:</dt>
          <dd class="col-md-10">{{ patient.phone }}</dd>
          <dt class="col-md-2">Birth Date:</dt>
          <dd class="col-md-10">{{ patient.b_date }}</dd>
          <dt class="col-md-2">Email:</dt>
          <dd class="col-md-10">{{ patient.email }}</dd>
          <dt class="col-md-2">Gender:</dt>
          <dd class="col-md-10">{{ patient.sex }}</dd>
          <dt class="col-md-2">Blood Type:</dt>
          <dd class="col-md-10">{{ patient.blood_type }}</dd>
        </dl>
      </div>

      <div class="row mt-5 pb-5 d-block">
        <h3 class='pb-3'>Conditions</h3>
        <dl class="row">
          <dt class="col-md-6">Condition:</dt>
          <dd class="col-md-6">{{ history.conditions.condition }}</dd>
          <dt class="col-md-6">Symptomps:</dt>
          <dd class="col-md-6"> {{ history.conditions.symptomps }}</dd>
          <dt class="col-md-6">Prescriptions:</dt>
          <dd class="col-md-6"> {{ history.conditions.prescription }}</dd>
        </dl>
      </div>

    </div>
    <div class = "m-3 pl-2">
    <button class = 'btn btn-primary' onclick="javascript:history.go(-1);">
      Back
    </button>
    </div>
  </div>
</div>
{% endblock forms %}